
@media(min-width:768px){
  html{
    font-size: 10.24px;
  }
}
@media(min-width:960px){
  html{
    font-size: 12.8px;
  }
}
@media(min-width:1024px){
  html{
    font-size: 16px;
  }
}
html,body{
  height: 100%;
}
body{
  color:#6e6a6a;
  background-color: #f1f1f1;
}
#container{
  min-height: 100%;
  height: auto!important;
  height: 100%;
  position: relative;
}
.content-container{
  height: 100%;
  padding-top: 4.5rem;
  padding-bottom: 3.5rem;
}
.small,input{
   font-size: 85%;
}
.header-container{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1999999999;
  background: #fff;
}
.header,.footer-container{
  background: #fff;
  position: relative;
}
.header{
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: .5rem;
  padding-top: .6rem;
}
.footer-container{
  border-top: 1px solid #e8e8e8;
  height: 3.2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.signin,.signup{
  float: right;
  margin-right: 1rem;

}
.brand img{
  height: 2rem;
  margin-left: 1.25rem;
}
.search input[type="text"]{
  margin-right: .3rem;
}
.text-center{
  text-align: center;
}
.index,.f-content{
  margin: 0 auto;
  background-color: #ffffff;
  width: 64rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}
.thumbnail{
  display: inline-block;
}
.thumbnail img{
  width: 12rem;
  height: 6.75rem;
}
.thumbnail.pure-u-3-16{
  padding: 0 .4rem;
  padding-bottom: 1rem;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a.cat{
  color: #333;
}
a.cat:hover{
  color:#167ac6;
}
a.pure-button:hover,a.cat:hover,a.noline:hover{
  text-decoration: none;
}
.caption>span{
  width: 12rem;
  margin-top: .5rem;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}
.detail>div{
  padding: 1rem;
}
.detail-left>img{
  width: 20rem;
  height: 11.25rem;
}
.detail-right>ul{
  list-style-type: none;
  line-height: 1.75rem;
  margin-top: 0;
  max-height: 11.25rem;
  padding-left: 0;
}
.episode{
  padding: .25rem;
  border: 1px solid #e2e2e2;
  border-radius: .25rem;
  text-align: center;

  margin-right: .75rem;
  margin-top: .5em;
  transition:.5s border ease;
}
.episode:hover{
  border: 1px solid #0078e7;
}
.episode>a{
  color: #6d757a;
  display: inline-block;
}
.f-content>.list{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.f-content>.list>table{
  width: 100%;
}
.addra{
  padding-top: 1rem;
}
.addra legend{
  font-size: 1.2rem;
}
.addra textarea{
  max-width: 64rem;
  max-height: 10rem;
}
.avt{
  position: relative;
  height: 10rem
}
.avt>img{
  position: absolute;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  top:50%;
  left:50%;
  margin-top: -4rem;
  margin-left:-4rem;
}
.set-mydata{
  text-align: center;
  position: absolute;
  bottom:-.5rem; 
  color: #296585;
  visibility: hidden;
}
.avt:hover>.set-mydata{
  visibility: visible;
}
.personaldata>table{
  width: 100%;
  border-radius: .5rem;
}
.myspace{
  padding-top: 1rem;
}
.mydata{
  height: 11rem;
  border-bottom: 1px solid #e2e2e2;
}
.set-data{
  padding-top: 1rem;
}
.sign{
  padding-top: 1rem;
}
.more{
  color: #555;
  border: 1px solid #e2e2e2;
  padding: .35rem .5rem;
  border-radius: .35rem;
  transition:.5s border-color ease;
}
.more:hover{
  text-decoration: none;
  border-color:#0078e7;
}
.play{
  width: 48rem;
  margin: 0 auto;
}
.play>embed{
  width:100%;
  height:27rem;
}
#passages{
  position: inherit;
}
.logout>img{
  float: left;
  left: -3.5rem;
  top: -0.5rem;
  margin-right: .5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
}
@media(max-width: 768px){

}