body{
  color:#6e6a6a;
  background-color: #f1f1f1;
}
.small{
   font-size: 85%;
}
.header-container{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1999999999;
}
.header,.footer{
  background: #fff;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 943px;
  position: relative;
}
.header{
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 8px;
  padding-top: 10px;
}
.footer{
  border-top: 1px solid #e8e8e8;
  margin-top: 50px;
  height: 50px;
}
.signin,.signup{
  float: right;
}
.signup{
  margin-right: 15px;
}
.brand>img{
  height: 32px;
  margin-left: 20px;
}
.search input[type="text"]{
    margin-right: 5px;
}
.index{
  margin-top: 80px;
}