extends ../../layout

block content
  .f-content
    .detail
      .play     
        embed(src="#{episode.flash}",allowFullScreen="true", quality="high", align="middle", allowScriptAcess="always", type="application/x-shockwave-flash")
