extends ../../layout

block content
  .f-content
    .detail
      .detail-left
        embed(src="#{episode.flash}", allowFullScreen="true", quality="high", width="720", height="600", align="middle", allowScriptAcess="always", type="application/x-shockwave-flash")
      .detail-right