extends ../layout

block content
  .f-content
    .sign 
      form.pure-form(method="post",action="" enctype='multipart/form-data')
        fieldset.pure-group
          input.pure-input-1(type="text",placeholder="用户名",name="user[name]")
          input.pure-input-1(type="email",placeholder="邮箱",name="user[email]")
          input.pure-input-1(type="password",placeholder="输入密码",name="user[password]")
          input.pure-input-1(type="password",placeholder="确认密码",name="user[repeatPass]")
        input#submit.pure-input-1.pure-button.pure-button-primary.small(type="submit",value="注册")